 body {
     padding: 0;
     margin: 0;
     font-family: 'Anton', sans-serif;
     color: 000;
     font-size: 16px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     padding: 0;
     margin: 0;
     text-transform: uppercase;
 }

 h2 {
     font-size: 50px;
     margin-bottom: 58px;
     padding-top: 148px;
 }

 ul,
 li {
     display: block;
     margin: 0;
     padding: 0;
 }

 hr {
     border: 0;
     height: 4px;
     margin: 30px 0;
     background-image: linear-gradient(to right, #BFE2FF 50%, #337AB7 50%, #337AB7 60%, #ff9100 60%, #ff9100 70%, #05b5e6 70%, #05b5e6 80%, #b448b8 80%, #b448b8 90%, #BFE2FF 90%, #BFE2FF 100%);
 }

 .container {
     width: 1170px;
     margin: 0 auto;
 }

 .header {
     background: url(../img/header-bg.jpg)no-repeat center top / cover;
     padding-top: 87px;
     padding-bottom: 353px;
     color: #fff;
 }

 header a {
     color: #fff;
 }

 .logo {
     margin-right: 69px;
 }

 .menu {
     display: flex;
 }

 .menu li a {
     text-transform: uppercase;
     font-size: 14px;
     letter-spacing: 0.1em;
     text-decoration: none;
 }

 .menu li {
     margin-right: 40px;

 }

 .tel {
     font-size: 17px;
     margin-left: auto;
     letter-spacing: 0.1em;
     text-decoration: none;
 }

 .nav {
     display: flex;
     align-items: center;
 }


 .offer {
     text-transform: uppercase;
     margin-top: 216px;
 }

 .offer p {
     font-size: 30px;
     letter-spacing: 0.1em;
 }

 .offer h1 {
     font-size: 100px;
     margin-bottom: 19px;
     margin-top: -40px;
     letter-spacing: 0.02em;
 }


 .btn {
     color: #FFF;
     font-size: 20px;
     text-decoration: none;
     transition: all 0.5s;
     position: relative;
     letter-spacing: 0.1em;
     display: block;
     width: 238px;
     text-align: center;
 }

 .btn::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1;
     background-color: rgba(255, 255, 255, 0.1);
     transition: all 0.3s;
 }

 .btn:hover::before {
     opacity: 0;
     transform: scale(0.5, 0.5);
 }

 .btn::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 1;
     opacity: 0;
     transition: all 0.3s;
     border: 1px solid rgba(255, 255, 255, 0.5);
     transform: scale(1.2, 1.2);
 }

 .btn:hover::after {
     opacity: 1;
     transform: scale(1, 1);
 }

 .btn:hover {
     color: #fff;
 }


 .description p {
     font-family: 'Open Sans';
     font-weight: 400;
     text-align: justify;
 }

 .description {
     display: flex;
     justify-content: space-between;
 }

 .desc-right {
     margin-left: 200px;
     padding-right: 51px;
     margin-bottom: 67px;
 }

 .desc-left {
     margin-bottom: 113px;
 }

 .description h3 {
     font-size: 25px;
 }

 .description p {
     font-family: 'Open Sans';
     font-size: 16px;
     font-weight: 400;
     line-height: 1.67em;
 }

 .gallery {
     display: flex;
     justify-content: space-between;
 }

 .video {
     margin-top: 50px;
     margin-left: 270px;
     padding-bottom: 30px;
 }

 .footer {
     background-color: rgb(221, 211, 211);
     padding-top: 7px;
 }

 .footer-text {
     margin-top: 10px;
     padding-bottom: 10px;
     font-family: 'Open Sans';
     font-size: 15px;
     display: flex;
     justify-content: space-between;
 }

 .about {
     background-color: rgb(221, 211, 211);
     padding-bottom: 1px;
 }